<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <link rel="stylesheet" href="styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Afacad&family=Inter&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="#">
</head>
<body>
    
    <div class="header-container">
       <img id="headerImg" src="images/Logo.png" alt="Short clip logo">
    </div>

    <form id="urlform" class="form-container" action="/shorten" method="post">
        <input type="url" name="enteredURL" id="enteredURL" placeholder="Enter URL to Shorten" minlength="10" maxlength="1500" required>
        <button type="submit" id="shortenBtn" disabled="disabled">Shorten</button>
    </form>
    <div class="response-container">
        <% if (locals.shortURL) { %>
            <div class="short-container">
                <p>Your Shortened URL is:</p>
                <div class="answer-container">
                <a id="shortLink" href=<%= locals.shortURL %> target="_blank"><%= locals.shortURL %></a> 
                <button id="copyBtn" title="Copy to Clipboard"><img width="30px" height="30px" src="images/copy.png" alt="copy image icon"></button>
                </div>
            </div>
        <% } %>
        <% if (locals.errors){ %>
            <% locals.errors.forEach(element => { %>
               <p> <%= element %></p>    
            <% }); %>

        <% } %>
        <p id="clientSideErrorMsg"></p>

    </div>

    <footer>
        <small>
            Copyright  © <%= new Date().getFullYear() %> Wahdat Safia. All Rights Reserved.
        </small>
    </footer>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script>
        $("#shortenBtn").disabled = true;
        $("input").on("input change", function(){
            if ($(this).val() === ""){
                $("#shortenBtn").prop('disabled',true);
            }
            else {
                $("#shortenBtn").prop('disabled',false);
            }
        });
       
       // check url value is reachable or not
       // if not then give alert
       // 

        function isUrlValid(url) {
            return /^(https?|s?ftp):\/\/(((([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:)*@)?(((\d|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])\.(\d|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])\.(\d|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])\.(\d|[1-9]\d|1\d\d|2[0-4]\d|25[0-5]))|((([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.)+(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.?)(:\d*)?)(\/((([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)+(\/(([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)*)*)?)?(\?((([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)|[\uE000-\uF8FF]|\/|\?)*)?(#((([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)|\/|\?)*)?$/i.test(url);
        }


       $("#urlform").on("submit", function(event){
           var enteredURL = $("input").val();
           console.log("The URL submitted by user is: ", enteredURL);
           if (isUrlValid(enteredURL)){
              console.log("The url is valid and it exists.");
              return ;
           }
            //alert("The URL you entered does not exists!");
            console.log("The url is Invalid");
        
            $("#clientSideErrorMsg").text("The URL you entered is either Invalid or doesn't exist.");
            setTimeout(() => {
                $("#clientSideErrorMsg").text("");
            }, 3000);
            event.preventDefault();
            //$("#urlform").trigger("reset");
           
       });
       function validateURL(urlstring){
        console.log("Validator answer is: ", validator.isURL(urlstring));
           if (validator.isURL(urlstring)){
            return true;
           }
           return false;
       }
       function isURLExists(urlstring){
        //    const config = {
        //     headers: {
        //     "Access-Control-Allow-Origin": "*",
        //     "Access-Control-Allow-Methods": "GET,PUT,POST,DELETE,PATCH,OPTIONS"
        //     }
        //    };
          var request = new XMLHttpRequest();  
          request.open('GET', urlstring, true);
          request.setRequestHeader("Access-Control-Allow-Origin","*");
          request.onreadystatechange = function(){
                  if (request.readyState === 4){
                          if (request.status === 404) {  
                              //alert("Oh no, it does not exist!");
                              return false;
                             }
                          return true;  
                    }
            };
        request.send();
       }
       function checkURL(urlString){
          var givenURL;
          try {
            givenURL = new URL(urlString);
            console.log("The entered URL is valid: ", givenURL);
            if (isURLExists(urlString)){ return true; }
            else {return false; }

          } 
          catch (error) {
            console.log("The entered URL is invalid: ", error);
            return false;
          }
       }
       
       $("#copyBtn").on("click", function (){
          var shortUrl = "<%= locals.shortURL %>";
          copyToClipboard(shortUrl);

       });
       function copyToClipboard(shortUrlStr) {
            var $temp = $("<input>");
            $("body").append($temp);
            $temp.val(shortUrlStr).select();
            document.execCommand("copy");
            $temp.remove();
        }

    </script>
    
</body>
</html>